GOOGLE_API_KEY=AQ.vhjdbvudnyvfverfvrtbrgf
ANTHROPIC_API_KEY = abctest

REDIS_HOST=localhost
REDIS_PORT=6379

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=testdb
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpassword
